body {
    background-color: #0A192F;
}

.light-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap: 10px;
}

.light {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #fff;
}