body {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #0A192F;
    justify-content: center;
    height: 100vh;

}

.light-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 30%;
    width: 100%;
    gap: 10px;
    justify-self: center;
}

.light {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #fff;
}

.button {
    width: 100px;
    height: 50px;
    border-radius: 5px;
    background-color: #fff;
}

.red {
    background-color: #FF0000;
    transition: ease-in-out 0.2s;
    box-shadow: 0 0 10px #FF0000;
}

.green {
    background-color: #60ef00;
    transition: ease-in-out 0.2s;
    box-shadow: 0 0 10px #60ef00;
}

.blue {
    background-color: #00d7ef;
    transition: ease-in-out 0.2s;
    box-shadow: 0 0 10px #00d7ef;
}

.yellow {
    background-color: #ffed00;
    transition: ease-in-out 0.2s;
    box-shadow: 0 0 10px #ffed00;
}